<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Itcen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JW.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KakaoShuttleV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KwangdongCustomer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MobiliteasyBase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>MobiliteasyLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Nol.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Openknowl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SKBioscience.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>326F7FD32F0C9BF70052395C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3276CE4B2F0B411900A259F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3276CE882F0B4DEA00A259F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3276D6D12F0B5B6E00A259F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327784272F19DC760098C79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A0AE4182EE8510800B18434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
